    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About TestLab</h2>
              <br/>
                <p>TestLab was an idea that was conceptualized during the Seattle Virtual Reality Hackathon 2016. Our aim was to allow a user to physically interact with a laboratory environment to analyze a blood sample and diagnose a particular strain of the malaria virus.</p>
                <br/>
              </div>
        </div>
    </section>
